*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;

}
body{
background-color:#F2F4F7 ;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1E3A5F;
}

nav{

        display: flex;
    align-items: center;      
    justify-content: space-between; 
    padding:  10px;
    background-color: #1E3A5F;
}
.Logo img{
    width: 120px;
    border-radius: 35%;

}

.contenido{
    display: flex;
    align-items: center;
    gap:130px ;
    margin: 0 auto;

}
.contenido a{
    font-size:20px;
    text-decoration:none;
    color:#e0e0e0;
    font-weight:600 ;
    border-bottom: 2px solid transparent;
    font-family: 'Montserrat', sans-serif;
    
}
.contenido a:hover{
    border-bottom:2px solid rgb(255, 255, 255);
}
p{
    font-size:20px;
}
.imagen-principal{
    background-image:url(../imagenes/istockphoto-918749628-1024x1024.jpg);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    text-align: center;
    
}
.imagen-principal h1{
    padding: 20px;
    color: #58599c;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    

}
.informacion-principal h1{
    text-align:justify;
    padding: 20px 60px;
    font-family: 'Open Sans', sans-serif;
}
.informacion-principal p{
    text-align:justify;
    padding: 10px 60px;
    font-family: 'Open Sans', sans-serif;
    
    
}
.informacion-principal{
    padding:60px;
}
.Objetivo{
    padding: 60px; 
    font-family: 'Open Sans', sans-serif;
    text-align:justify;
}
.Objetivo p{
    padding: 10px 0px;
}
.Objetivo-especifico{
    padding: 60px 180px;
    color: #e0e0e0;

}
.Objetivo-especifico ul{
    font-size: 20px;
    padding: 10px 20px;
}
.caja-objetivo{
    background-color: #1E3A5F;
    margin-bottom:10px ;
    border-radius: 5px;
}
.caja-objetivo h2,ul{
    padding: 15px;
}
main {
    flex: 1; 
}
footer{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #1E3A5F;
    color: #e0e0e0;
    gap:10px;
    
}
